.container {
    display: flex;
    flex-direction: row; /* column, row, row-reverse, column-reverse */
    height: 90vh;
    justify-content: space-evenly; /* set the allignment on the main axis: center, flex-start, flex-end, center, space-between, space-around, space-evenly */
    align-items: space-between; /* set the allignment on the cross axis: flex-start, flex-end, center, stretch(), baseline (allign the text) */
    flex-wrap: wrap; /* set how the items should wrap: nowrap, wrap, wrap-reverse */
    align-content: center; /* set the allignment of the lines on the cross axis: flex-start, flex-end, center, stretch(), space-between, space-around */
    row-gap: 60px; /* set the gap between the rows */
    column-gap: 20px;
}

.img-container {
    background-image: url("../assets/mp4dvd.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    

    aspect-ratio: 1 / 1; /* Lo fa quadrato... */
    border-radius: 50%; /* ...e questo lo fa diventare tondo! */
    overflow: hidden; 
    
    box-shadow: 5px 5px 15px rgba(245, 0, 163, 0.5);
    
    width: 40%;
    min-width: 250px;
    height: auto;
    
    box-sizing: border-box;
    flex-shrink: 0;
    animation: rotate 20s linear infinite; 
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}