@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.grainient-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
main{
    padding: 0;
}

body{
    min-height: 100vh; /* Imposta l'altezza minima del body al 100% dell'altezza della finestra */
    background-color: #1E2025; /* Colore di sfondo del body */
    color:floralwhite; /* Colore del testo del body */
}


